%head
  %title= t :application
  = stylesheet_link_tag    'application', 'data-turbolinks-track' => true, 'media' => 'all'
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
