!!! 5
%html
  = render 'html_head'

  %body
    .navbar
      .navbar-inner
        = link_to t(:application), root_path, class: 'brand'

    .container
      .row
        .offset3.span9
          %h1= title
